<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                                                                                                                   
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/16175018?query=java%20Voronezh">Java-разработчик</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">ООО Цифровая связь</td> 
     <td class="salary">30&nbsp;000-55&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/16174601?query=java%20Voronezh">Java Developer</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Открытые Технологии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/16174561?query=java%20Voronezh">Java Senior Developer</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Открытые Технологии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/16174521?query=java%20Voronezh">Java Middle Developer</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Открытые Технологии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/16174454?query=java%20Voronezh">Junior Java Developer</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Открытые Технологии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15982009?query=java%20Voronezh">Программист Java</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">РЕЛЭКС</td> 
     <td class="salary">60&nbsp;000-60&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15777646?query=java%20Voronezh">Программист Java</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">АО Компания QIWI</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15777647?query=java%20Voronezh">Программист Java</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">АО Компания QIWI</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/16169436?query=java%20Voronezh">Middle / Senior Java developer</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">EPAM Systems, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14915245?query=java%20Voronezh">Программист Java</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Softline</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15777613?query=java%20Voronezh">Senior Java Developer (Web)</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">АО Компания QIWI</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15777612?query=java%20Voronezh">Senior Java Developer (Web)</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">АО Компания QIWI</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/16152184?query=java%20Voronezh">Java-разработчик</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Nokia Networks</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15690603?query=java%20Voronezh">Java Architect</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/16142332?query=java%20Voronezh">Java developer</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Wrike</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14979793?query=java%20Voronezh">Senior Java Developer (Польша)</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14980307?query=java%20Voronezh">Senior Software Engineer (Java)</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14979675?query=java%20Voronezh">Senior Java/Scala Developer</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14979664?query=java%20Voronezh">Senior Java Developer</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/16144507?query=java%20Voronezh">Старший Java-разработчик</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Группа Компаний Miracle</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/16136031?query=java%20Voronezh">Java-разработчик</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Открытые Технологии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14979945?query=java%20Voronezh">Senior QA Automation (Selenium + Java)</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/16109681?query=java%20Voronezh">Java-разработчик</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">АНКОР, кадровый холдинг</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/16094435?query=java%20Voronezh">Программист Java</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">ООО ИнвестОценка</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15929095?query=java%20Voronezh">Инженер-программист Java</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">АйТи</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/16109555?query=java%20Voronezh">Старший Java-разработчик</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Ventra Employment</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14149665?query=java%20Voronezh">Senior Java developer</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Wrike</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15979330?query=java%20Voronezh">Автор работ "Язык программирования Java/QReal:Web"</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Homework</td> 
     <td class="salary">35&nbsp;000-80&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15893764?query=java%20Voronezh">Java программист</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">AT Consulting</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/16004110?query=java%20Voronezh">Java-разработчик</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">АО РТ Лабс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15732983?query=java%20Voronezh">Java-разработчик</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Молвест</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15680729?query=java%20Voronezh">Разработчик Java</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">AT Consulting</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14819578?query=java%20Voronezh">Java/C# Разработчик</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Mail.Ru Group, Игры</td> 
     <td class="salary">от 85&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/10966358?query=java%20Voronezh">Java Software Engineer</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">NetCracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15944049?query=java%20Voronezh">Разработчик java</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Синимекс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/16179678?query=java%20Voronezh">Migration-Integration Lead Developer</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">NetCracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15971525?query=java%20Voronezh">Senior Java Developer</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Nitka Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/10966314?query=java%20Voronezh">Senior Java Software Engineer/Team Lead</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">NetCracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15944074?query=java%20Voronezh">Старший разработчик java</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Синимекс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/16168915?query=java%20Voronezh">DevOps Master for Telecom Industry</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/16148969?query=java%20Voronezh">Программист-разработчик</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">ООО Джаст</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15777669?query=java%20Voronezh">(Старший) специалист по автоматизации тестирования</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">АО Компания QIWI</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15897581?query=java%20Voronezh">Старший разработчик Java (EE, eCommerce, Bid Data)</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">ООО Intella</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/16066318?query=java%20Voronezh">Программист-разработчик мобильных приложений</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">ЗАО Контест</td> 
     <td class="salary">60&nbsp;000-60&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15777668?query=java%20Voronezh">(Старший) специалист по автоматизации тестирования</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">АО Компания QIWI</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15941446?query=java%20Voronezh">Программист SQL</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Группа Компаний ТАРКОС</td> 
     <td class="salary">от 35&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15978096?query=java%20Voronezh">Старший программист SQL</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Группа Компаний ТАРКОС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14979780?query=java%20Voronezh">Big Data Developer</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15149085?query=java%20Voronezh">DevOps Engineer</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15900700?query=java%20Voronezh">Information Security Engineer</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/16151675?query=java%20Voronezh">QA Engineer</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">T-Systems CIS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14296724?query=java%20Voronezh">OpenStack Systems Architect</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">NetCracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12357083?query=java%20Voronezh">Инженер отдела управления окружениями / Capacity Management Engineer</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">NetCracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15492157?query=java%20Voronezh">Тестировщик</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Группа компаний «САМСОН», Головная организация</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15782518?query=java%20Voronezh">Старший системный администратор</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Феникс</td> 
     <td class="salary">80&nbsp;000-120&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15947684?query=java%20Voronezh">Software Developer in Test (Backend)</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Wrike</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15082129?query=java%20Voronezh">Инженер по тестированию</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">АО РТ Лабс</td> 
     <td class="salary">40&nbsp;000-70&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14533741?query=java%20Voronezh">Senior QA engineer</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">АО РТ Лабс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15161845?query=java%20Voronezh">Специалист по нагрузочному тестированию</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Kelly Services</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/16021160?query=java%20Voronezh">Ведущий разработчик Отдела разработки и сопровождения фронтальных систем и систем ДБО</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Металлинвестбанк</td> 
     <td class="salary">от 70&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15315918?query=java%20Voronezh">QA Automation Engineer</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Wrike</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15800780?query=java%20Voronezh">Сетевой администратор</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">ООО Джаст</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15264929?query=java%20Voronezh">PHP-программист мобильного проекта</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Mail.Ru Group, Игры</td> 
     <td class="salary">от 75&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15972646?query=java%20Voronezh">Senior android developer с переездом г. Москва</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Alta Personnel</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15956950?query=java%20Voronezh">Junior iOS разработчик</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">АпсМинистри</td> 
     <td class="salary">от 20&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15687112?query=java%20Voronezh">Разработчик (офис в г. Рязань)</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">АНКОР, кадровый холдинг</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/16023301?query=java%20Voronezh">Младший разработчик интеграции</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Техносерв Консалтинг</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/16023288?query=java%20Voronezh">Ведущий разработчик интеграции</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Техносерв Консалтинг</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15709321?query=java%20Voronezh">Инженер технической поддержки</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">NetCracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14883206?query=java%20Voronezh">Веб-программист</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">ЭФКО, Управляющая компания</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/10966383?query=java%20Voronezh">Technical Manager</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">NetCracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15975772?query=java%20Voronezh">Специалист технической поддержки</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">ООО КОМНЕТ</td> 
     <td class="salary">от 24&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/10966325?query=java%20Voronezh">Oracle SQL Software Engineer</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">NetCracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/16025603?query=java%20Voronezh">Ведущий инженер / Архитектор IDM</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Феникс</td> 
     <td class="salary">от 150&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12265138?query=java%20Voronezh">Application security architect</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">NetCracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/13511347?query=java%20Voronezh">JBoss Expert</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">NetCracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15016157?query=java%20Voronezh">Development Manager</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">NetCracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/13978033?query=java%20Voronezh">Специалист по безопасности приложений</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">NetCracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15516528?query=java%20Voronezh">Delivery Manager</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">NetCracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/12555375?query=java%20Voronezh">Project Manager (Solution Delivery)</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">NetCracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14673521?query=java%20Voronezh">Penetration Tester</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">NetCracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15953161?query=java%20Voronezh">Старший программист мобильных Android приложений</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">АпсМинистри</td> 
     <td class="salary">от 60&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15953157?query=java%20Voronezh">Разработчик Android приложений</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">АпсМинистри</td> 
     <td class="salary">от 45&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15865271?query=java%20Voronezh">Программист</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">ООО Джаст</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15955659?query=java%20Voronezh">Senior Game Developer</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Arkadium</td> 
     <td class="salary">90&nbsp;000-150&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15848357?query=java%20Voronezh">Программист С++</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">PureLogic RND</td> 
     <td class="salary">35&nbsp;000-60&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15955899?query=java%20Voronezh">Senior Full-stack Developer</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Arkadium</td> 
     <td class="salary">90&nbsp;000-130&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15900917?query=java%20Voronezh">Специалист по подбору персонала (IT)</a></td> 
     <td class="city">Санкт-Петербург, Площадь Ленина</td> 
     <td class="companyName">ООО Intella</td> 
     <td class="salary">50&nbsp;000-120&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/16151345?query=java%20Voronezh">Android разработчик</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">SurfStudio</td> 
     <td class="salary">40&nbsp;000-100&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/16151280?query=java%20Voronezh">Android разработчик</a></td> 
     <td class="city">Курск</td> 
     <td class="companyName">SurfStudio</td> 
     <td class="salary">40&nbsp;000-100&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/16151249?query=java%20Voronezh">Android разработчик</a></td> 
     <td class="city">Тула</td> 
     <td class="companyName">SurfStudio</td> 
     <td class="salary">40&nbsp;000-100&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024133">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Яндекс19 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000008013">Преподаватель вебинаров по Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains11 февраля 2016</td> 
     <td class="salary">До 30 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023895">Java-разработчик (2GIS World)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">2GIS11 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/19097890">Java developer</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">Omertex18 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023867">Java-разработчик</a></td> 
     <td class="city">Рязань</td> 
     <td class="companyName">Кадровое агентство Юнити10 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024076">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">SELVIS18 февраля 2016</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000009066">Ведущий Java разработчик (проект Видео)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Одноклассники11 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023986">Разработчик Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">AFT Project15 февраля 2016</td> 
     <td class="salary">От 120 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024089">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">CreditPilot18 февраля 2016</td> 
     <td class="salary">От 60 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023401">Scala/Java UI Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">EXANTE24 февраля 2016</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023619">Java Developer / Java разработчик</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Devexperts ("Эксперт-Система")09 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022888">Java\Javascript разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ManpowerGroup18 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023858">Разработчик Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">CV Recruitment10 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023271">Java-разработчик</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">Maxifier Development17 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024388">Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">BIA-Technologies02 марта 2016</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023650">Senior Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">VeeRoute10 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023658">Главный программист java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "БФТ"03 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023492">Middle java developer</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">Pogodee04 февраля 2016</td> 
     <td class="salary">От 40 000 до 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023213">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MFS15 февраля 2016</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024302">java разработчик</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">ETHR29 февраля 2016</td> 
     <td class="salary">От 100 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024270">senior java developer Москва</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Петер-Сервис26 февраля 2016</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023944">Lead Software Developer (Java)</a></td> 
     <td class="city">Рига</td> 
     <td class="companyName">C.T.Co17 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023893">Java/Python-разработчик (Извлечение данных)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">2GIS11 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021825">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Plarin04 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023906">Java разработчик на "Фактор"</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">HumanFactorLabs11 февраля 2016</td> 
     <td class="salary">От 180 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024151">Java – разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО ЮНИТ-Оргтехника19 февраля 2016</td> 
     <td class="salary">От 50 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024007">Ведущий разработчик Java</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">Integrated Information Solutions16 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024272">Senior Java Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Data East26 февраля 2016</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023854">Java Team Lead</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">Smartbics10 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024177">Software Development Engineer Java</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Xored Software Inc.20 февраля 2016</td> 
     <td class="salary">От 80 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023161">Java EE Developer</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">Fasten inc15 февраля 2016</td> 
     <td class="salary">От 70 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000013804">Ведущий Scala / Java разработчик (Senior Scala / Java Developer)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Иннова26 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023925">Java-разработчик, middle/senior java developer</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">ОАО Банк Пойдем24 февраля 2016</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000013803">Scala или Java разработчик / Scala or Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Иннова03 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023908">Senior Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies11 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024036">Java EE программист</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Омникомм19 февраля 2016</td> 
     <td class="salary">От 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021888">Senior Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Cloud Consulting AS02 марта 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024252">Ява программист (JAVA developer)</a></td> 
     <td class="city">Тенненлоэ</td> 
     <td class="companyName">Clear Croup25 февраля 2016</td> 
     <td class="salary">От 4 000 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023749">Senior Java developer/разработчик (back-end)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Neklo05 февраля 2016</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023856">Java Team Lead</a></td> 
     <td class="city">Таллин</td> 
     <td class="companyName">Smartbics10 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024148">Ведущий программист Java</a></td> 
     <td class="city">Тольятти</td> 
     <td class="companyName">Квартплата 2419 февраля 2016</td> 
     <td class="salary">От 40 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024316">Java-разработчик с хорошим знанием английского</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">LAR29 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023829">Java-разработчик микросервисов экосистемы BostonGene Cloud Platform</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">BostonGene09 февраля 2016</td> 
     <td class="salary">От 75 001 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023674">Java Architect</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Competentum03 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022798">GWT Разрабочик</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">AgmSoft12 февраля 2016</td> 
     <td class="salary">От 3 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024167">Hadoop developer</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">ASA-DEV19 февраля 2016</td> 
     <td class="salary">От 2 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000018083">Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Avito02 марта 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022120">Senior Scala (Java) Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">EXANTE29 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021564">Senior Java developer (Multithreading, Servlets, Spring, Hibernate, Native SQL)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">AURUS24 февраля 2016</td> 
     <td class="salary">От 80 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000020386">Senior Android Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Tark Industries29 февраля 2016</td> 
     <td class="salary">От 80 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023683">Старший Разработчик Android (C++, Java)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Лаборатория Касперского03 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023948">Anroid разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">CTRLFIT13 февраля 2016</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023638">Android developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Tapcore02 февраля 2016</td> 
     <td class="salary">От 80 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023920">Backend разработчик (Мобильное приложение, SIP)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Helpon13 февраля 2016</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024057">Android Developer / Android Разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">DDG17 февраля 2016</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024398">Android-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Pyrus02 марта 2016</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000020199">Разработчик мобильных приложений (Android)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains01 марта 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021663">Android Разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Simple Systems08 февраля 2016</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024018">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Секретная Лаборатория16 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024145">Android Developer</a></td> 
     <td class="city">Берлин</td> 
     <td class="companyName">Relocateme.eu19 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023754">Разработчик на Go</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">TheQuestion05 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023532">Fullstack (php) разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Tapcore02 февраля 2016</td> 
     <td class="salary">От 100 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024397">PHP-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Artics Internet Solutions02 марта 2016</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000019790">Преподаватель вебинаров по программированию</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains11 февраля 2016</td> 
     <td class="salary">До 30 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023758">Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">TheQuestion05 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023466">Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ANEWS15 февраля 2016</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024325">iOS / Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">NURR29 февраля 2016</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024182">Big Data engineer / analyst</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Mail.Ru Group20 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023741">C# Backend Developer (мобильный игровой проект)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Mail.Ru Group04 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022428">QA Инженер</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Лаборатория Касперского03 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023656">Android developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">TeleRetail AG03 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023252">Android разработчик Senior</a></td> 
     <td class="city"></td> 
     <td class="companyName">Beet Lab08 февраля 2016</td> 
     <td class="salary">От 90 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023939">Ведущий разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">cityplumbers12 февраля 2016</td> 
     <td class="salary">От 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024238">iOS разработчик / Ведущий iOS разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Spice Recruitment24 февраля 2016</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023555">BACK-END ПРОГРАММИСТ</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "МСЦ"10 февраля 2016</td> 
     <td class="salary">От 115 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024111">Backend-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Wawe19 февраля 2016</td> 
     <td class="salary">От 110 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023642">Android программист</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">THE HUMANET02 февраля 2016</td> 
     <td class="salary">От 120 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024191">Специалист</a></td> 
     <td class="city">Алматы</td> 
     <td class="companyName">Казкоммерцбанк20 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024326">Senior PHP-разработчик</a></td> 
     <td class="city">Химки</td> 
     <td class="companyName">Интернет-агентство "Инфоспайс"29 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023912">Full stack developer (Senior Front &amp; Back-end) Moscow city</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Market Music Inc11 февраля 2016</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021814">Senior Software Engineer - Mobile Development (iOS/Android)</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">Devicepros LLC01 марта 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023687">Fronted / Backend Web Developer</a></td> 
     <td class="city">Хайлбронн</td> 
     <td class="companyName">Lingner03 февраля 2016</td> 
     <td class="salary">От 3 200 до 3 200 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023651">Front-end developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">VeeRoute10 февраля 2016</td> 
     <td class="salary">До 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023909">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">DigitalHR11 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024340">Senior Android developer</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">MERA01 марта 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023849">Front-end Developer (JavaScript Developer)</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">ASA-DEV19 февраля 2016</td> 
     <td class="salary">От 1 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024338">Senior Android architect</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">MERA01 марта 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021023">Ведущий разработчик мобильных приложений/Mobile Team Lead Dev</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Sberbank real estate04 февраля 2016</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/141365985">Web programmer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">G5 Entertainment25 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024078">Разработчик распределённых систем</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Яндекс18 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023814">Тестировщик / QA engineer</a></td> 
     <td class="city">Ульяновск</td> 
     <td class="companyName">Ecwid Inc.08 февраля 2016</td> 
     <td class="salary">От 40 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024138">Python разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Яндекс19 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023995">Senior Flash программист</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">KamaGames Studio15 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/61922206">Web-мастер / Web-программист</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Social Quantum05 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000020115">Javascript разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ivi.ru05 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024043">C# / asp.net разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Priem Team17 февраля 2016</td> 
     <td class="salary">От 90 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023673">.NET Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Competentum03 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/976978977">Разработчик мобильных приложений Android</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Очень Интересно19 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023993">Senior Quality Assurance Engineer (QA)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">EXANTE16 февраля 2016</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023964">Android Team Lead</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Tark Industries15 февраля 2016</td> 
     <td class="salary">От 110 до 150 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024202">C\C++ System Software Developer</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">Promwad Innovation Company22 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024149">Руководитель ИТ-проектов / Бизнес-аналитик</a></td> 
     <td class="city">Тольятти</td> 
     <td class="companyName">Квартплата 2419 февраля 2016</td> 
     <td class="salary">От 50 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024329">Разработчик Python</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Главный радиочастотный центр29 февраля 2016</td> 
     <td class="salary">От 60 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024383">PHP-разработчик</a></td> 
     <td class="city">Чебоксары</td> 
     <td class="companyName">RGK Group01 марта 2016</td> 
     <td class="salary">От 60 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024176">​Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Excursiopedia.com20 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024343">Senior Android engineer</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">MERA01 марта 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023897">Инженер (Continuous Integration)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">2GIS11 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000014053">PHP Developer</a></td> 
     <td class="city">Алматы</td> 
     <td class="companyName">RGK Group02 марта 2016</td> 
     <td class="salary">От 80 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000007981">C# .NET Developer (Analytics Team)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Plarium18 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024136">Технический менеджер проектов в области хранения и обработки данных</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Яндекс19 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023700">JavaScript Frontend/Backend Developer (биоинформатика)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">AppGenomics04 февраля 2016</td> 
     <td class="salary">От 80 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023894">Ведущий программист .Net/C# (Fiji)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">2GIS11 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000008805">Senior Software PHP Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">PimPay12 февраля 2016</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023724">Game AI Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Mail.Ru Group04 февраля 2016</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>